// Colors

$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);

// font family
// Headings
$poppins: 'Poppins', sans-serif;
// Body
$opensans: 'Open Sans', sans-serif;

// Icons
